
/* ページの余白を消す */
* {
    margin: 0px;
    padding: 0px;
}

.site-header{
  position: fixed;
	 width: 100%;
}
.myname{
  padding-top: 10px;
}
.cp_navi {
	background-color: black;

	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888888;
  display: flex;
  justify-content: center;
	overflow: hidden;
	width: 100%;
}
/* .cp_navi ul::before{
	 content: url(MyName.png);
} */
.cp_navi ul {
	margin: 0;
	padding: 0;
}
.cp_navi ul li {
	display: inline-block;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	        transition: all 0.2s;
}

.cp_navi > ul > li > a > .caret {
	border-top: 4px solid #aaaaaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: '';
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	-webkit-transition: color 0.1s linear;
	        transition: color 0.1s linear;
}

.cp_navi > ul > li > a {
	color: #FFFFFF;
	display: block;
	line-height: 56px;
	padding: 0 10px;
	text-decoration: none;
}
.cp_navi > ul > li:hover {
	background-color: rgb(218, 60, 65);
}
.cp_navi > ul > li:hover > a {
	color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li:hover > a > .caret {
	border-top-color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li > div {
	background-color: rgb(218, 60, 65);
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 165px;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	       transition: opacity 0.2s;
}
.cp_navi > ul > li:hover > div {
	display: block;
	opacity: 1;
	visibility: visible;
}
.cp_navi > ul > li > div ul > li {
	display: block;
}
.cp_navi > ul > li > div ul > li > a {
	color: #ffffff;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}
.cp_navi > ul > li > div ul > li:hover > a {
	background-color: rgba( 255, 255, 255, 0.1);
}
.menu{
		text-align:center;
}

.mainPhoto {
  width: 1600px;
  margin-bottom: 18px;
  display:block;
  margin:auto;

}
.TopTitle
{
		color: Black;
		font-weight: bold;
		font-family: "fantasy",sans-serif;
		text-align:center
}

h2{
    color: Black;
	  font-weight: bold;
    font-family: "fantasy",sans-serif;
  	text-align:center;
    padding-top: 7px;
}
.header-topof-top{

    display: flex;
    /* flexの時の中央寄 */
  	justify-content: center;
}
/* h2:before {
    content: url(phone2.png);
	  width: 30%;
}
h2:after {
    content: url(phone2.png);
} */

.Main_Top{
		background: Black;
}
.header-wrapper {
    /*上から下へ*/
  background: linear-gradient(180deg, white 0%, white 40%, black 50%, black 100%);
}

.gv-Message{
  font-size: 200.5%;
  font-weight: 900;
}
.gv-mainTitle{
  text-decoration:none;
  color: Black;
  font-weight: bold;
  font-family: "fantasy",sans-serif;
  text-align:center
}
/* more like somethings elseスキル */
.gv-mainTitle2{
  padding: 100px;
  font-size: 30px;
  text-decoration:none;
  color: Black;
  font-weight: bold;
  font-family: "fantasy",sans-serif;
  text-align:center
}
hr.LineOne {
    height: 30px;
    border-style: ;
    border-color: black;
    border-width: 1px 0 0 0;
}
hr.LineOne2 {
    height: 30px;
    border-style: ;
    border-color: black;
    border-width: 1px 0 0 0;
}
.readMyStore{
	color: Black;
	font-weight: bold;
	font-family: "fantasy",sans-serif;
	background:#ffffff;
	text-align:center;
	margin:0 auto;
  display:block;

}

.gv-section{
  padding-bottom: 100px;
}
.container{
  padding-left: 100px;
  padding-right:50px;
  display:flex;
}
.container ::after{
}
.team-z-photo{
  padding-left: 100px;
  padding-right:50px;

  display:block;
  margin:auto;
}
.space{
  margin-bottom: 90px;
}
.gv-programing{
    height: 200px;
    width: 100%;
    background-image: url(carbonWhite.jpg);
}
.gvProgramingPhoto{
  width: 100%;
  height: 250px;
  object-fit: cover; /* この一行を追加するだけ！ */
}
.gvSkillsLevels
{
  display: flex;
  flex-wrap: wrap;
  text-align:center
}
/* .gvSkillsLevels img {
  vertical-align: top;
}

.thumnail-right-box {
  width: 30%;
  margin: 0;
  padding: 0;
  list-style: none;
} */
.skill-sheet{
  display: flex;
  /* flexの時の中央寄 */
  justify-content: center;
}
.myskillshere{
  font-size: 160%;
  font-weight: bold;
  font-family: "fantasy",sans-serif;
padding-right: 10px;
}
.top-banner{
	display: flex;
	flex-wrap:wrap;
  list-style: none;
}
.top-banner li {
	width: calc(100%/7);/*←画像を横に4つ並べる場合*/
	padding:0 5px;/*←画像の左右に5pxの余白を入れる場合*/
	box-sizing:border-box;
}
.top-banner li img {
	max-width:100%; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
}
.flexer{
    display: flex;/*コレ*/
    padding: 10px;
}
.flexer div{
    width: 50%;
    margin: 10px;
    padding: 10px;
}
.gv-widget-wrapper{
  height: 400px;
  background-color: Black;
}
.footer-nakami{
  padding-left: 400px;
  padding-right: 200px;
  padding-top: 60px;
}
.form-group-row{
  text-decoration:none;
  color: White;
   display: flex;
}
.col-md-3{
  font-size: 190%;
  font-weight: bold;
  font-family: "fantasy",sans-serif;
  color: white;
}
.col-sm-10{
    padding-left: 60px;
}
#demo_253-01 li {
  list-style-type:none;
  display: inline-block;
  padding: 5px;
}
#demo_253-01 li a {
 text-decoration:none;
   color: White;
}
.form-group-midle-row{
     display: flex;
}
.keep-in-touch{
  font-family: "fantasy",sans-serif;
    padding-top: 60px;
  color: Gray;
}
.form-email{
  font-size: 120%;
  font-weight: bold;
  font-family: "fantasy",sans-serif;
  padding-left: 450px;
  color: white;
}
.send-email{
  width="100"
  height="100"
}
.footer-icons{
  padding-top: 0px;
}
.twitter-icon{
  color: skyblue;
}
.facebook-icon{
  color: blue;
}
.youtube-icon{
  color: red;
}
.instagram-icon{
  color: purple;
}
.linelineline-icon{
  color: Green;
}
.down-icon{

}
.notfound-message-title{
    font-size: 30px;
    font-family: "fantasy",sans-serif;
    font-weight: bold;
    		text-align:center;
        padding-top: 20px;
        padding-bottom: 10px;
}
.notfound-message{
color: gray;
  		text-align:center;
}
.notfound-image{
  padding-top:  20px;
  display: flex;
  justify-content: center;
}
.back{
  padding-top: 20px;
  font-family: "fantasy",sans-serif;
  font-weight: bold;
      text-align:center;
}
